@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="auth-container">
    <div class="center-block">
        <div class="auth-module border-top-danger">
            <div class="form display-block">
                <h1 class="text-danger no-m text-light">Recover password</h1>
                <p class="no-p m-b-20">Please check your email to reset your password.</p>
            </div>
        </div>
        <div class="footer">
            <div class="float-left">
                ©  2020 <a href="http://jananderson.dev" target="_blank">DirectStep Development</a>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;Template by <a href="http://followtechnique.com" target="_blank">FlowTechnique</a>.
            </div>
            <div class="float-right">
                <div class="label label-info">Version: 2.0.0</div>
            </div>
        </div>
    </div>
</div>
